h1 {
    display: inline-block;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:20px;
}

#caixa {
    height: 450px;
    width: 800px;;
    border: 1px solid white;
    background-color: white;
    border-radius: 25px;
    margin: auto;
}

#titulo {
    background-color: #6A5057;
    border-radius: 25px;
    margin:20px;
    
}

body {
    background-color: grey;
}

#inicio {
    opacity: 0.3;
}

#imagem {
    margin:20px;
    float: left;
}

#letras {
  width: 500px;
  float: left;
  position: relative;
    
}

.xis {
    display: none;
}

.letra {
    width: 50px;
    height: 50px;
    color:gray;
    float: left;
    border: 1px solid gray;
    text-align: center;
    margin:1px;
}


.letra:hover{
    background-color:#6A5057;
}

#resposta {
    color:#6A5057;
    float: left;
    
}